%navbar {
  &.-scrolled {
    animation: slide-down 0.2s ease-in-out both;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
  &.-unscrolled {
    animation: fade-in 0.2s ease-in-out both;
    background-color: transparent;

    .link {
      color: rgba(255, 255, 255, 0.9);
    }
  }
}

.ui-navbar {
  @extend %navbar;
}
